[2015-06-17 12:37] Meistercoach83 opened #4 "Empty Directories and directories which shouldn´t be listed"
Hi!
Is it possible to include,
1. that empty dirs will be displayed in the list? I did it with commenting out:

    /*if (item.children.length == 0) {
                return null;
            }*/

2. that some directories should not be displayed in the results?

[2015-06-19 06:17] #4 closed

[2015-12-03 21:28] Molnfront opened #6 "Updating tree after deleting or creating a file?"
Hi,
I have a small problem, probably not directly related to your module, but when I delete or create a new file programmatically in the directory that node-directory-tree is fetching information from it is not updated.

First I thought that it was my Angular app that was not refreshing the view, but I get the impression that it is the node server that is not updating.

Only If I stop and start th

[2015-12-04 05:01] Molnfront commented on #6
I my have a solution. I remember an application that I built a year ago where I read files from a directory outside the node servers root. I had no problems whatsoever to read new files without restarting node.js. I will do a couple of tests...

[2015-12-04 05:32] Molnfront commented on #6
I did a little test by changing to a directory outside the server root. But that did not work, then I built a little function based on my own working file reader and it works! The file list gets updated. Tested with Postman.

[code]

Looks as if I have to build my own directory-tree traversal solution. I have no idea why one works and the other is not...

[2015-12-04 07:53] Molnfront commented on #6
SOLVED!
My bad, my implementation of your modul was a bit wrong, I declared to many variables. So it would hold the the listing forever I guess.
[code]
Now I tested this:
[code]
I had a

[2015-12-04 08:03] #6 closed

[2015-12-04 10:59] mihneadb commented on #6
I'm glad you figured it out! Cheers!

[2015-12-10 09:12] appernetic opened #7 "How to avoid reading dot files?"
Which would be the best approach to avoid reading dot files?

Can I use the filter for that and if, how do I use it for that?

First I thought it was because I used the dotenv module that it read the dot files, but now when I have changed how the express app is reading its initial configuration and removed dotenv node.directory-tree is still reading dot files.

I am developing on a Mac so this cou

[2015-12-12 13:43] mihneadb commented on #7
You can't perform such a filter with the current implementation. You can tell it to find files that contain a given substring, but you can't tell it to exclude files matching a pattern. PR welcome if you figure out a nice way of implementing this :). I guess the best way to go would be some sort of include and exclude option that allow specifying regexes.

[2015-12-12 13:43] #7 closed

[2016-01-26 17:31] appernetic commented on #7
I am back to this little problem again. I did a quick solution:

[code]
I did not try to find dot files. In Ubuntu I do not have .DS_Store files but I need to have placeholder files so that git doesn't remove folders if I delete all files. So instead I leave a .placeholder file. Then I only have to find that file and filter. Easy peasy!
This solution is not worthy a PR I think..

[2016-01-27 07:30] appernetic commented on #7
One way to do pattern matching:
[code]

[2016-01-27 07:37] appernetic opened #8 "Impact of synchronous i/o operations?"
I always hear that synchronous I / O operations is bad to use in production environments. How difficult is it to make the module asynchronous?
The order of the file tree is a problem with asynchronous listing, but it is possible to arrange the order with array sorting.

[2016-01-27 13:39] appernetic commented on #8
I have examined two methods: one is to use linux command tree: tree -i --noreport -J with exec, and the other is to make an asynchronous version with a parallel loop.

It was easier to get the right json structure in node:

[code]

[2016-01-28 07:44] mihneadb commented on #7
Glad you fixed your problem! Indeed, we can't incorporate it within the tree since that's a really custom approach.
Re: second comment, yes, such an API could be implemented.

[2016-01-28 07:46] mihneadb commented on #8
Sure, async is the way to go. But what exactly is a `production` environment to you? This is just a simple tool to list a directory, are you going to use it in a flow that serves 10k requests/s? :smile:
I'd argue that in this particular case the more complex/difficult to read code is not worth it.

[2016-02-07 21:16] honkskillet opened #9 "Usage with a gruntfile"
@mihneadb  Has anyone used this with a gruntfile to read the contents of a folder, then inject the results into a javascript file?

[2016-02-07 21:23] mihneadb commented on #9
Unfortunately I have no idea. Please try! :)

[2016-03-24 22:55] appernetic commented on #8
This is a production environment for me: [appernetic.io](https://appernetic.io)  :-)

[2016-03-24 22:55] #8 closed

[2016-03-25 11:21] mihnea-dobrescubalaur-hs commented on #8
I hope the same :D Lmk how it goes! Good luck!

[2016-08-09 10:02] amio opened #15 "Publish a new release"
It's been 4 months and lots of fixes since 1.0.0, consider publish a new release?

[2016-08-11 20:42] mihneadb commented on #15
Absolutely, it was on my TODO list, just been away. Doing it now, thanks! :) Will close the issue when done.

[2016-08-11 20:52] mihnea-dobrescubalaur-hs commented on #15
Done, thanks for the reminder! https://www.npmjs.com/package/directory-tree

[2016-08-11 20:53] #15 closed

[2016-08-11 20:54] mihneadb commented on #9
Closing since it seems no longer needed. Reopen if anything.

[2016-08-11 20:54] #9 closed

[2016-08-18 12:21] jbrodriguez opened #17 "Sort the tree"
Have you ever needed to sort the tree ? By size for example ?

How would you go about it ?

[2016-08-18 14:23] mihneadb commented on #17
You could write a recursive function that computes the size of a (sub)tree and then sort all children arrays using that, I guess.

[2016-09-16 10:43] steveharman opened #19 "Returns null for empty directories?"
Case of: a directory containing three empty subdirectories:

/home/ubuntu/workspace/temp/
 ---my_dir_1
 ---my_dir_2
 ---my_dir_3

directory-tree returns 'null' for /home/ubuntu/workspace/temp/ but as soon as I place a file called 'wibble' into a sub-directory of /home/ubuntu/workspace/temp/ I get an object back containing properties of the file in **that directory only** - nothing about the other

[2016-09-16 14:35] mihneadb commented on #19
Hi, you're right, there should be an entry with `children: []` for each of the empty dirs. We should add a test and fix the bug. Would you like to take a stab at it? :)

[2016-09-16 21:22] steveharman commented on #19
Hi,

I'd love to help test but sadly don't have the skills to assist with fixing.  Wish I could be more help.

The module does everything I need as part of a build script but we commonly need to take account of empty directories as well as those with files in.

Regards,

Steve

[2016-09-17 21:41] #19 closed

[2016-09-17 21:44] mihneadb commented on #19
Hi @steveharman, I've made the changes and added better testing to guard for this breaking in the future. All should be well if you update to `1.1.1`. Let me know if you encounter any issues.

Best,
Mihnea

[2016-09-18 07:32] steveharman commented on #19
Fantastic thanks Mihnea - I'll update, throw a few test scenario at the module on Monday & report back.

Regards,

Steve

[2016-09-19 16:26] steveharman commented on #19
Looking good to me Mihnea.  I couldn't find a case where having an empty directory produced unexpected results.

Here's a simple hierarchy, my_dir_1 & my_dir_3 have files in, my_dir_2 does not.

[code]

I also tried a few more complex configurations with empty sub dir's of empty sub dir's and all good.  Here's an empty dir which contains an empty sub-dir:

[code]

With or without files in the dirs

[2016-09-19 18:09] mihneadb commented on #19
That's great, thanks!

On Mon, Sep 19, 2016 at 7:26 PM, steveharman <notifications@github.com>
wrote:

--
Mihnea Dobrescu-Balaur

[2017-01-09 16:34] thebetterjort opened #21 "Async?"
Can this be used to load data as files enter and leave the folder?

[2017-01-09 19:03] mihneadb commented on #21
It doesn't have a watch feature, you'd have to write the watch call
yourself and call this through the event handler.

On Mon, 9 Jan 2017 at 17:34, thebetterjort <notifications@github.com> wrote:

[2017-03-22 18:33] manatarms opened #24 "Excludes"
This plugin is super use full. Is there a way to pass excludes to the plugin  as well?
Thanks.

[2017-03-22 21:58] #21 closed

[2017-03-22 21:58] mihneadb commented on #17
Let me know if you need any more info about implementing such functionality!

[2017-03-22 21:58] #17 closed

[2017-03-22 22:00] mihneadb commented on #24
Hi, glad to hear!
Nope, not at the moment at least. If you have an idea, we could discuss it and then if you want you can open a PR :).

[2017-03-25 15:39] manatarms commented on #24
I noticed that https://www.npmjs.com/package/node-dir had excludes in the options. I was thinking of looking through their implementation and maybe adding an exlcudes into this plugin as well. What do you think?

[2017-03-26 20:19] mihneadb commented on #24
Sure. I think the first step would be to think how the API would look like. I mean, if the lib supported excludes, how would someone use it?

[2017-03-27 15:45] manatarms commented on #24
I was thinking of having an options object that is passed to the function (like the filetype). Although, considering that there is a callback, someone could theoretically ignore a directory using the PATH and item variables and return their own object. Do you think it's worth having excludes as an option?

[2017-03-27 21:08] mihneadb commented on #24
I'm thinking the current extensions param could be taken out and a include/exclude via pattern option could be implemented instead. Something similar to what [tree](http://www.computerhope.com/unix/tree.htm) supports. You could provide a regex and the node would be checked against it. How does that sound?

[2017-03-31 00:28] manatarms commented on #24
I like the regex idea. It will definitely be more useful. Are you thinking that this parameter is passed in to the function somewhere after filetypes? I feel like have so many options might lead to parameter bloat. How about using an options object instead?

[2017-03-31 13:34] mihneadb commented on #24
Agreed. Something like replacing the current extensions arg with an options object that can have include and exclude which are regexes?

[2017-03-31 14:04] manatarms commented on #24
That would seem possible. I like that. Is that the final decision?

On Fri, Mar 31, 2017, 06:34 Mihnea Dobrescu-Balaur <notifications@github.com>
wrote:

--
Sachin F

[2017-03-31 14:23] mihneadb commented on #24
Sounds good to me. If you have a nicer idea in mind, pls share :).

On Fri, 31 Mar 2017 at 17:04, manatarms <notifications@github.com> wrote:

--
-- Mihnea Dobrescu-Balaur Sent from a mobile device.

[2017-03-31 15:53] manatarms commented on #24
Nope this is the best I could come up with. I'll make a PR for first converting the current code to options and then another for adding an exclude. Does that sound good?

[2017-03-31 16:12] mihneadb commented on #24
Sounds great, thanks!

On Fri, Mar 31, 2017 at 6:53 PM, manatarms <notifications@github.com> wrote:

--
Mihnea Dobrescu-Balaur

[2017-04-02 19:44] manatarms commented on #24
PR in #25

[2017-04-18 12:38] GabrielDelepine opened #26 "Makes clear difference between files and directories"
Hi,

Thanks for this nice package. I have a improvement proposal and I wanted to discuss it here before making a PR :

To know if an object refer to a file or a directory, it's necessary to test if the key `extension` exists.

`extension` is the value returned by [path.extname](https://nodejs.org/api/path.html#path_path_extname_path) and if the file doesn't have extension, an empty string is retur

[2017-04-18 20:27] mihneadb commented on #26
Hello! Actually, the way I thought you'd check for file vs folder would be the existence of the `children` key. If you think that's not enough, I'd rather suggest you added a `type` field with values `file` and `directory` (that would get stored as constants in the source code for easy use throughout).
What do you think?

[2017-04-19 02:32] manatarms commented on #26
Hi, @GabrielDelepine
I'm doing just that in one of my projects. Here's a snippet of my code.
[code]
Hope this helps!

[2017-04-19 02:36] manatarms commented on #24
Hey! I've been super busy. I'll definitely get to this soon. I wanted to also discuss how you'd like to implement this. I was thinking of checking for a regex test in the name and then returning `null` if it exists.
The main issue I was having with this approach was that the size of the tree was getting messed up because of the `return null`. How would you suggest working around this without havin

[2017-04-19 08:28] GabrielDelepine commented on #26
Thanks for your answers

I didn't think to use `children` because I thought it could be missing in case the directory were empty. I was wrong :)

I think the proposal of @mihneadb is smart, I am going to do it. Thanks

[2017-04-22 10:28] mihneadb commented on #26
Sounds good!

[2017-04-28 19:09] mihneadb commented on #24
Hey @manatarms , sorry for missing the question in your comment! I think it makes sense to keep the size in correspondence with the ignored file (i.e. returning `null` should be fine), since you are seeing the size of the actual tree you care about. :+1:

[2017-05-02 06:47] mihneadb commented on #26
This is fixed via #28. Thanks!

[2017-05-02 06:47] #26 closed

[2017-05-09 08:42] lynxionxs opened #30 "Default [ tree.children ] not correct"
Hi. I have a problem with the default sorted [ tree.children ] array.
Can you make that default so it puts the directories at the top and sorted alphabetically?
That's how tree views are sorted by default by most file viewers.

Right now i get a mixed [ tree.children ] array result.
Directories mixed with files.

Like this ...

[code]

[code]

[2017-05-12 06:42] mihneadb commented on #30
Hi, this is not really a bug but rather an enhancement request. I think we can add sorting of the tree if that is desired. Feel free to make a PR! :clinking_glasses: Thanks!

[2017-05-12 17:07] sarora2073 opened #31 "create directory structure for child path"
Hi,

This package is super useful!

Wondering if you think it might be easy to enhance this package to index a child path instead of the entire provided path?

e.g. if i store user specific documents like this:

user1/files/folderA
user2/files/folderB

var data = directoryTree(username+'/files', ['.txt']);

I want the generated directory tree to have paths as follows, without the parent path:

e.g

[2017-05-14 19:36] mihneadb commented on #31
Hi,
I think what you want is doable with just calling `directoryTree` for each of the user folders and merging the results. How does that sound?

[2017-05-14 19:41] sarora2073 commented on #31
The problem I'm trying to describe is that the full path of whatever I call directoryTree on should not be returned. I need to pass the full path obviously, but I need the result to be a subpar. Makes sense?

[2017-05-14 19:42] mihneadb commented on #31
Sure. You can simply walk the results with a recursive function and remove the prefix of that subpath.

[2017-05-14 20:43] sarora2073 commented on #31
I was thinking to fix the package code rather than cleansing the path. Please let me know if you think it's worth doing a PR for.

[2017-05-14 20:54] mihneadb commented on #31
I think this doesn't belong in the package and it is something that the caller should handle. Should it become a more often requested enhancement, we can reconsider. Closing this. :beers:

[2017-05-14 20:54] #31 closed

[2017-05-17 05:38] #24 closed

[2017-05-17 15:47] sarora2073 commented on #30
fyi - hope you don't mind -- i took the liberty of incorporating the above sorting fix here: https://github.com/sarora2073/node-directory-tree

This also incorporates the ability to handle returning subpaths only (intentionally hiding the parent path, as discussed here https://github.com/mihneadb/node-directory-tree/issues/31). The subpath change is a breaking change for now. I'm considering optio

[2017-05-17 15:49] sarora2073 commented on #31
Fair enough.  At least for my purposes I've made the change here:: https://github.com/sarora2073/node-directory-tree. It's a breaking change as-is (because it adds a new parameter), but if others request it I can look into making the change without breaking the existing approach (i.e. make new parameter optional).

[2017-05-22 18:51] mihneadb commented on #30
Sure thing! Feel free to open a PR if you figure it out. Cheers!

[2017-05-22 18:51] #30 closed

[2017-05-22 18:51] mihneadb commented on #31
:+1: happy you got your problem addressed!

[2017-06-01 15:26] uppe-r opened #32 "Sorting JSON (folders first)"
Hey @mihneadb , I've been trying to order the resulting JSON the way Windows Explorer does - folders first.
Is there any way you can help me with it? Haven't been successful yet.

[2017-06-01 15:37] mihneadb commented on #32
Hi @uppe-r, you can sort the `children` lists of the tree recursively, with a custom comparator function in which `folder` is "smaller" than `file` and then if types are equal compares the names.

[2017-06-01 15:40] uppe-r commented on #32
Thanks for the quick response @mihneadb, mind giving an example?

[2017-06-01 15:43] mihneadb commented on #32
Sure! You can find some examples/doc on the builtin sort function [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort), look for `compareFunction`.

[2017-06-01 15:44] uppe-r commented on #32
Thanks for the help @mihneadb, I'll try it ASAP and let you know if I was successful.

[2017-06-01 15:52] mihneadb commented on #32
Cool! GL!

On Thu, Jun 1, 2017 at 6:44 PM, uppe-r <notifications@github.com> wrote:

--
Mihnea Dobrescu-Balaur

[2017-06-01 20:06] uppe-r commented on #32
Hey @mihneadb, managed to do it thanks to your help. 😄

Here's the code if someone needs it someday:
[code]

Thanks for your help once more! 🎉

[2017-06-01 20:06] #32 closed

[2017-06-01 21:09] mihneadb commented on #32
So glad to hear! Anytime!

[2017-07-21 09:02] GhyslainBruno opened #33 "Handle permission errors"
Hi guys,

First of all thank you for your job, I currently am using your library and it's pretty powerfull.

I'm just wondering if there would be a way to handle permission errors with it ? (would be awesome)

Thanks for your reply,

Cheers !

[2017-07-24 14:06] mihnea-dobrescubalaur-hs commented on #33
Hi!
Glad it's useful!
The code currently skips files without permission (https://github.com/mihneadb/node-directory-tree/blob/master/lib/directory-tree.js#L15). One option would be to add a callback like `onError` and leave the user to deal with that error. However, I'm wondering - how would you *handle* a permissions error?

[2017-08-16 17:14] odonnellnoel opened #34 "add depth option"
add depth option please

[2017-10-31 18:59] lukaszczapiga opened #35 "name doesn't match the path"
Has anyone seen this bug where the name doesn't match the path?

[code]

I am using the latest version and it happens only for one directory, everything else seems to work fine. It is possible that the dir got renamed at some point from foo/baz to bar. Not sure why it is not picking this up.

[2017-10-31 19:12] lukaszczapiga commented on #35
It was something in my code that was overwriting the name. No issue with the library.

[2017-10-31 19:12] #35 closed

[2017-11-01 19:15] calebeaires opened #36 "Add file date last updated"
[ ] bug
[x] feature request

---------

NodeJS has support to get time modified of an file. Here is an example on how to do it.

[code]

Can you consider put this feature to node-directory-tree?

[2017-11-01 22:56] mihneadb commented on #36
Hi! Maybe you could think of a way to use the callback support for this? Or maybe add a more generic way in which you could return more data in the JSON if you wanted to?

[2017-11-02 12:23] calebeaires commented on #36
Right now I'm doing this:

[code]

[2017-11-04 21:01] mihneadb commented on #36
Seems reasonable enough to me. I wouldn't be for adding mtime because then you get into the discussion of what else to add. Again, if you come up with a more generic way of adding custom fields to the nodes, please send in a PR!

Thanks!

[2017-11-04 21:01] #36 closed

[2017-11-27 10:03] dp-1a opened #38 "Allow multiple excludes"
Hi,

would it be possible to add the possibility to specify multiple excludes and extensions?

I´m currently trying to parse nodejs/typescript projects and they often contain a lot of "metadata" which I would like to ignore. For example I would like to ignore  `node_modules` and an output folder like `dist`.

Basically make the `exclude` option accept an array of regexes...

Thx

[2017-11-28 10:36] mihneadb commented on #38
Hi, sounds good, feel free to submit a PR!

Thanks!

[2017-12-05 09:53] crapthings opened #40 "can i mutate item before get tree ?"
i try to change each item with callback

return new obj or change item doesn't do anything.

[code]

[2017-12-06 20:48] mihneadb commented on #40
The return value of the callback is not used. https://github.com/mihneadb/node-directory-tree/blob/master/lib/directory-tree.js#L47

[2018-03-13 21:41] david-j-davis commented on #38
Is this live? When I install I'm getting directory-tree version 2.0. This feature returns an error when I use it: TypeError: options.exclude.test is not a function.

[2018-03-13 21:56] david-j-davis opened #42 "Push latest build to NPM Please"
Right now the latest version on NPM is 2.0.0 and am hoping to utilize version 2.1.0.

Thanks

[2018-03-14 08:14] dp-1a commented on #38
Hi, looking at the PR again - this feature should only be available with `2.1.0`. With `2.0.0` this feature is not active.

[2018-03-14 15:31] david-j-davis commented on #38
Right, and 2.1.0 isn't available to install on npm.

On Wed, Mar 14, 2018, 1:14 AM dp-1a <notifications@github.com> wrote:

[2018-03-14 15:48] dp-1a commented on #38
True, but that is something which @mihneadb needs to take care of :)

[2018-03-14 17:45] david-j-davis commented on #38
Ok. @mihneadb, greatly appreciate this npm package. Any plan to update npm with the latest package?

[2018-03-25 19:51] mihneadb commented on #42
My bad, sorry for the delay! :( Fixed!

[2018-03-25 19:51] #42 closed

[2018-03-25 19:53] mihneadb commented on #38
Sorry about that, answered on the issue. Published.

[2018-03-25 19:53] #38 closed

[2018-04-09 02:24] WisestCoder opened #43 "This feature is implemented?"
![image](https://user-images.githubusercontent.com/21785332/38476375-00b6cf00-3be0-11e8-8d43-1a5bdd0cdbc8.png)

[2018-05-03 19:57] mihneadb commented on #43
Sorry, I don't understand the question. Can you please give more details?

[2018-05-28 23:37] Stoyvo opened #44 "Just Directories?"
How can you return just the directories?

[2018-05-30 05:14] #43 closed

[2018-06-11 20:25] catalinmiron opened #45 "React example"
Not an issue, more a thanks kinda issue :)
I'm building something in React using your library and I'd like to share an usage example:

[code]

You can play around on [codesandbox](https://codesandbox.io/s/m4ol5jvl98).

Thanks @mihneadb

[2018-06-12 05:45] mihneadb commented on #45
:smile: really nice. Thanks @catalinmiron !

[2018-06-13 09:10] rmdwirizki commented on #40
So is it possible to mutate the item @mihneadb?

[2018-06-13 09:44] rmdwirizki commented on #40
Well, in my case I don't have to worry about performance, so I just mutate the item right after getting the tree.

[code]

[2018-06-15 09:13] rmdwirizki commented on #40
Sorry my bad, I forgot about javascript variable reference. it seems you can mutate item before get the tree by directly modifying the `item` variable.

[code]

This issue should be closed.

[2018-06-17 12:01] mihneadb commented on #40
Glad you found a way!
FWIW I don't think it's worth doing `item = ...`, you can just call `Object.assign` and ignore its return value.

[2018-06-17 12:01] #40 closed

[2018-07-12 19:48] ChuckJonas opened #46 "Add typescript types"
would love to see typescript types for this on DefinitelyTyped so you can do `npm install @types/directory-tree`.

If I end up adding them for my project, I will try to publish them

[2018-07-12 21:53] ChuckJonas commented on #46
the return structure would look something like this:

[code]

[2018-07-26 09:01] vasyl-shumskyi opened #47 "date property"
It would be cool to have `date` property as well. `mtime` will be best choice I think.

[2018-08-08 16:49] NunoLimaoVodafone commented on #45
Do you have to import any lib, such as imprt directory-tree?

[2018-08-08 19:39] mihneadb commented on #45
You can see a short usage example in the [readme](https://github.com/mihneadb/node-directory-tree#usage).

[2018-08-08 19:39] #45 closed

[2018-08-09 14:30] DanielVarzim opened #48 "try { stats = FS.statSync(path); } entering exception and returning null"
Hi, I am trying to use the directory-tree module, but the function is returning null.
What am I doing wrong here? Do I need specific modules installed?

Code example:

import React, { Component } from 'react';
import directoryTree from 'directory-tree';
import _ from 'lodash';

let tree = directoryTree("C:/Users/Daniel Varzim/Desktop/Apps");

class Dummy extends Component {
    render() {

[2018-08-09 14:48] DanielVarzim commented on #48
Why does "Stats" comes undefined?
 Is "C:/Users/Daniel Varzim/Desktop/Apps" not being considered a directory?

[2018-08-10 13:01] DanielVarzim commented on #48
This is the exception I get:

"e: TypeError: FS.statSync is not a function at directoryTree"

[2018-08-12 13:42] mihneadb commented on #48
Hi, your issue probably is the fact that you are trying to call this from a browser where you don't have `fs` available. You would need a node environment.

[2018-08-13 14:25] DanielVarzim commented on #48
With the project I am developing I just need a front-end for a folder containing some files.
I don´t know if I understood your answer, do I need some sort of back-end node server to run your module?

I am using react and redux, and I just want to have a const with the folder structure in json so I can display the files in the folder.

[2018-08-13 18:11] mihneadb commented on #48
Yes, you need a server with access to the filesystem. You can simply run an API server that serves the JSON of the folder on some endpoint.

[2018-08-13 18:11] #48 closed

[2018-08-15 21:00] rattanakchea opened #49 "Test failed on Windows"
On my Windows, the `npm run test` failed, because file size does not match.

[2018-08-24 06:01] mihneadb commented on #49
@rattanakchea do you think you can make a cross-platform fix for it? Thanks!

[2018-08-25 12:46] mihneadb commented on #49
Sounds good. It should still test that `size` is present, just not check its value, I guess.

[2018-09-24 17:20] punund opened #51 "saving results of callback"
Would you consider adding the resut of callback function to the item?
Patch would be trivial, something along the lines
[code]

[2018-09-28 18:15] mihneadb commented on #51
You have access to `item` in the callback so you should be able to set an attribute from within it.
I'm thinking that should be enough, since I don't know how popular a pattern this is. Wdyt?

[2018-09-28 18:32] punund commented on #51
You are right, I can do that.  Just seems a little un-functional having to modify a parameter.

[2018-09-28 18:32] #51 closed

[2018-09-28 20:28] mihneadb commented on #51
I agree, it's not pure. I'd be OK with a variant of what you suggested as well if you think it's crucial at this point. Feel free to send a PR if so! :) 🥂

[2018-10-02 10:59] jcs090218 opened #52 "[New Feature] - Sort by type!"
Hi, I just want to request a new feature if possible. I know the plugin sort the JSON data with alphabetical order. I think it would be nice if can sort with alphabetical order plus sort it with file type. :D

Thx!

[2018-10-04 19:05] mihneadb commented on #52
Hi, the code does nothing explicit to sort the results. The result is a tree-like object, so I'm not sure how sorting would look like. I'd suggest you implement a function to sort the returned tree. What do you think?

[2018-10-05 05:47] jcs090218 commented on #52
Hmmm, interesting! I thought you sort the paths alphabetically by default because the result I get from my web application is sort in alphabetic order, so I assume that you could change the sorting algorithm to whatever you what. My bad, I can just implement this myself. I thought it would be a great idea to have some filter like this. Thanks for answering my concern! If you not planning on adding

[2018-10-08 20:18] mihneadb commented on #52
It's just the way the `fs` module returns items. Indeed, at this point I don't think it makes sense to have this included in the lib.

Feel free to share the function you end up writing here, it might be useful to others too! Thanks!

[2018-10-08 20:18] #52 closed

[2018-10-10 09:34] cristofor-io opened #53 "Code working on codesandbox, but not in Windows"
Hello Mihnea,

The below code works just perfect on codesandbox, but locally on my Windows machine `console.log(tree)`, always returns a null object.

https://codesandbox.io/s/yp0qv1r40x

[code]

What could be the problem?

Thank you.

Cristian

[2018-10-18 19:52] MisaZ10 commented on #34
i created this project https://github.com/MisaZ10/tree , you can use this

[2018-10-22 04:53] mihneadb commented on #53
Hi Cristian,

Might it be relative path? Try with an absolute one. I haven't tried the lib on Windows but I remember receiving a PR to have it working so.. it should work OK.

Best,
Mihnea

[2018-11-02 10:31] cristofor-io commented on #53
Thanks for you reply, not sure what absolute path I should use, do you mean an URL?
Thank you.

[2018-11-02 13:52] mihneadb commented on #53
I mean something like `C:\......`

On Fri, Nov 2, 2018 at 12:31 PM cristofor-io <notifications@github.com>
wrote:

--
Mihnea Dobrescu-Balaur

[2018-11-02 14:03] cristofor-io commented on #53
It doesn't work unfortunately.

[2018-11-30 21:00] marc2332 commented on #53
Same problemm, it doesn't return anything.

`const dirTree = require("directory-tree");
const tree = dirTree(dir); //dir = C:\Users\mespi\Desktop\Nueva carpeta

console.log("SomethingToSeeOnConsole->"+tree);`

It returns:
`SomethingToSeeOnConsole->[object Object]`

I tried it too on https://codesandbox.io/s/yp0qv1r40x but on my pc doesn't work.
Any Fix?
Thank you :)

[2018-12-11 13:17] mihneadb commented on #53
It looks like you do get an object. Try to use `JSON.stringify` to see a representation?

[2018-12-11 13:21] #46 closed

[2018-12-11 13:56] marc2332 commented on #53
@mihneadb I don't remember how, but i fixed it some days ago. Now i don't need to use it so i can't say how i fixed it

[2018-12-11 15:40] meta-exception commented on #47
Added in 2.2.0.
Use `attributes` prop.
[code]

[2018-12-11 16:59] mihneadb commented on #47
Thanks, @meta-exception !

[2018-12-11 16:59] #47 closed

[2018-12-17 07:51] hados99 opened #57 "onEachDirectory callbacks only top level directory"
Hi, really thanks for good library.

When testing onEachDirectory callback, it only returns top level directory.
I tested on nodejs v10, directory-tree v2.2.0, installed via npm.

I think onEachDirectory callback parameter is missing when calling directoryTree recursively.

https://github.com/mihneadb/node-directory-tree/blob/5f2db2932a798ce728337cb0c7aab039afc91d70/lib/directory-tree.js#L99

[2018-12-22 11:49] mihneadb commented on #57
Hi, good find! Feel free to submit a PR :).

[2019-01-03 18:44] Fchen48 commented on #53
Everything works fine on my Windows 10 machine. I think the problem is fixed.

[2019-01-03 19:14] oscady opened #60 "Write results to .json file?"
Apologies I think this might be a limitation of Nodejs as a whole but I am trying to replace a Python script I have running on my server that writes a JSON file out of the contents of a directory. Am I wrong to believe this can be done with node?

This package gives me a lovely output, I just can't figure out how I can write that output to a file once the script has run

Thanks

Osc

[2019-01-05 13:05] mihneadb commented on #60
Hi, I think you need a combination of [this](https://stackoverflow.com/questions/2496710/writing-files-in-node-js) and [JSON.stringify](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify).

[2019-01-05 13:06] #53 closed

[2019-01-05 13:17] oscady commented on #60
Thanks I will have a look into that now

[2019-02-21 07:43] jcs090218 commented on #52
Okay, this is what I meant for sorting the either by `file` or by `directory` type.

[code]

The default action will sort into this.
[code]
By calling this function will sort into this.
[code]
or
[code]

P.S. `f` represent `file`, `d` represent `directory`.

Hope this helps!

[2019-04-15 08:51] shijianjian opened #62 "Get folder only results."
Hi,

Thank you for the pretty simple plugin.

In my application, I care about the folder structure only. I therefore do not want to include the final files. Is there a easy way to select?

For example, I am now getting:
[code]
While, what I want is:
[code]
I wish to filter the files out.

[2019-04-17 07:41] zoiii commented on #60
Hi, might help.

`
const PATH = require('path');
const fs = require('fs');
const dirTree = require('directory-tree');

const folders = [];
const tree = dirTree('/path/directory'', null, (item, PATH, stats) => {
  folders.push(item);
});
fs.writeFileSync('output.json', JSON.stringify(folders));
`

[2019-04-17 14:06] mihneadb commented on #62
Hi, you should be able to write a recursive function that only keeps items with `children`.

[2019-05-01 16:48] marcbrigham commented on #60
when I used the code above I got `folder\\folder\\testfile.svg`. Not sure why there is double `//`

[2019-05-01 17:14] marcbrigham commented on #60
I needed to use `const PATH = require('path');
const fs = require('fs');
const dirTree = require('directory-tree');

const folders = [];
const tree = dirTree('./folder', {normalizePath:true}, null, (item, PATH, stats) => {
    folders.push(item);
    console.log(folders);
});
fs.writeFileSync('output.json', JSON.stringify(folders));`

[2019-05-06 08:23] DrMabuse23 opened #64 "Error after upgrade from 2.2.1 to 2.2.2"
Hey i update the package from now on i get
`TS2497: This module can only be referenced with ECMAScript imports/exports by turning on the 'esModuleInterop' flag and referencing its default export.`
in Typescript could you please fix that ?

[2019-05-08 07:46] mihneadb commented on #64
Hi! I assume it might be related to https://github.com/mihneadb/node-directory-tree/pull/63. @rikberkelder can you please take a look>

[2019-05-08 08:57] #60 closed

[2019-05-12 21:26] mihneadb commented on #64
Hi, please try again with 2.2.3 (after https://github.com/mihneadb/node-directory-tree/pull/66).

[2019-06-23 10:25] mihneadb opened #68 "Add ESLint"
Don't forget to integrate in PR checks.

[2019-07-06 23:35] leoj3n commented on #31
If this isn't going to be included perhaps an example of removing the subPath added to the README would help because I thought it was possible based on the examples given in the README.

[2019-07-06 23:37] leoj3n commented on #31
Additionally to what @sarora2073 proposed, perhaps another ergonomic feature would be detecting paths that start with `./` and assuming a subpath of the current directory.

[2019-07-29 11:53] moda20 opened #69 "How to eliminate empty folders from the output"
I want to try and eliminate the empty folders from the output, the ones that don't have any children not just directly inside but also in their children and the children of their children.

basically if

Folder A has no children, I don't want to see it in the output.
if Folder A has Folder B and Folder C as children, and both of them have no children, I want folder A to be emitted from the output.

[2019-08-13 19:59] mihneadb commented on #69
Hi, the library can't do what you are asking at this point. You'd have to walk the resulting tree and filter it yourself with some recursive algorithm (or similar).

[2019-08-13 19:59] #69 closed

[2019-10-31 11:02] cope commented on #62
@shijianjian:

[code]

[2019-11-01 21:21] nik-lus opened #71 "exclude .git folder returns a null tree"
I'm on macOs, node v12...

When I try to create a directory tree by excluding the .git folder:

`const tree = dirTree(rootPath, { exclude: [/.git/] });
 console.log('tree is ', tree)
`

I get:

`tree is null`

But when I specify an absolute path to the .git folder:

`const tree = dirTree(rootPath, { exclude: [/\/absolute-path-to-folder\/.git/] });
  console.log('tree is ', tree)
`

I get:

`tree i

[2019-11-01 21:27] nik-lus commented on #71
Quick follow up, just tested by excluding a 'git' folder (no ' . ' prefix)

`const tree = dirTree(rootPath, { exclude: [/git/] });
console.log('tree is ', tree)`

and again I get:

`tree is null`

Is the phrase 'git' somehow a reserved word in the codebase?

[2019-11-10 20:47] mihneadb commented on #71
Hi! What is the full path of the folder you are testing?
I think there might be a bug when the path contains what you want excluded https://github.com/mihneadb/node-directory-tree/blob/master/lib/directory-tree.js#L63.

[2019-11-10 20:48] #62 closed

[2019-11-10 22:26] nik-lus commented on #71
[code]

Thanks for looking into this.

[2019-11-10 22:45] nik-lus commented on #71
After some more thought, could it be that '.git' is the first folder in the directory and the exclusion /.git/ trips the if statement on line 63 and it returns null and never goes further in the folder?

I can exclude /node_modules/ without a problem and that works as expected.

[2019-11-14 13:59] #34 closed

[2019-11-18 21:20] mihneadb commented on #71
Sorry, shouldn't `path` be `/usr/project`? It's the path of the folder you want to be represented as a tree. Might be worth creating a branch/PR with a test case. You can see how the existing stuff is laid out.

[2020-01-25 13:58] vaibhavG321 opened #72 "how can i limit the number of data?"
Thanks for this good package!
In a directory, I only want first 10 files then what can i do for that?

[2020-01-30 11:21] mihneadb commented on #72
Hi, the lib does not support this currently as it's a bit of a fuzzy description. Do you want all folders + 10 files? 10 folders + files? How do you choose them? etc.
Easiest way right now is to get the full tree and filter it to your liking.
Otherwise, I'd say better requirements would be needed to extend the code with this option.

[2020-03-03 19:38] ivanvorona opened #73 "FS.statSync is not a function"
Hello,

i got this error: "FS.statSync is not a function
    at directoryTree (directory-tree.js?1168:57)"

upon debugging it comes from here:

[code]

[2020-03-03 20:01] mihneadb commented on #73
Hi @ivanvorona - are you running this under node? What version?

[2020-03-03 20:56] ivanvorona commented on #73
Yes - vueJS app, - tried on v10, installed the most recent stable v12 - the same result:
****>npm view webpack version
4.42.0

**>node -v
v12.16.1

******>npm list webpack
@0.1.0 **
+-- @vue/cli-plugin-babel@3.12.1
| `-- webpack@4.41.5
+-- @vue/cli-plugin-eslint@4.2.3
| `-- webpack@4.41.5  deduped
`-- @vue/cli-service@3.12.1
  `-- webpack@4.41.5  deduped

[2020-03-05 12:40] mihneadb commented on #73
@ivanvorona it looks like you are trying to run this in a browser or in a browser-like environment, where you don't have access to the FS module.

[2020-03-31 16:58] melissaclausse opened #74 ""Attributes" not working as expected"
Current default output includes `type`, `size`, and `extension`. It is impossible to remove these attributes, though they are cluttering the JSON since they are unnecessary for my purposes. By adding those three attributes to the call, it does the following:
- toggles off `extension` from files
- toggles off `type` from files
- toggles on `type` for directories
- toggles on `size` for directories

[2020-04-02 21:28] mihneadb commented on #74
Indeed, there are a few attrs that are always present - https://github.com/mihneadb/node-directory-tree/blob/master/lib/directory-tree.js#L76-L78 and https://github.com/mihneadb/node-directory-tree/blob/master/lib/directory-tree.js#L102-L103.

Should be easy to fix. Probably `extension`, `type` and `size` can become optional as well. What are your thoughts?

[2020-04-06 21:18] melissaclausse commented on #74
Thanks for the quick response, @mihneadb , appreciate it! In my opinion, only "name", "path" and "children" are necessary fields that should be toggled by default. If you think other attributes need to be on by default, I would argue it would be preferable for those attributes to be consistent across both files and directories (all nodes get "extension", all nodes get "size", etc) so they could be

[2020-04-16 12:38] djnorrisdev commented on #31
That wouldn't work (at least for linux and mac) with how the source code is currently looking at the root of the project where this package is installed. For example`const tree = dirTree('md')` and const tree = dirTree('./md') find the same path based off of the root directory. It still seems the easiest two ways to deal with this is are: 1) to regex or substring out the top level directory.
Keep

[2020-06-09 08:34] MorpheusFT opened #75 "Add creation date?"
and option to sort by newest/oldest?

[2020-06-09 09:54] mihneadb commented on #75
Hi, thanks for the proposal. IMO there should be a more generic approach where one could specify by which field to sort.

Re: adding creation date, there is the `attributes` option where you can specify whatever you wish. Creation date, specifically, [can be tricky](https://stackoverflow.com/questions/17552017/get-file-created-date-in-node).

[2020-06-19 13:16] stijnvddonk opened #76 "Add id field"
Is it possible to add the option for an id to each item?

[2020-06-23 17:58] mihneadb commented on #74
Sorry about the extremely slow response this time.
Indeed, option 1 sounds best. PR is welcome if you want to contribute!

[2020-06-23 18:00] mihneadb commented on #76
How would that work? Like a randomly generated id? Might be best to simply traverse the resulting tree and add them. I don't really see the need for this being part of the lib.
What do you think?

[2020-06-23 19:29] stijnvddonk commented on #76
Hmm okay, yeah i thought like the first folder is 1, first nested 2 etc. I just started programming so im still figuring some stuff out. How would i achieve it using traverse?

[2020-06-24 18:23] mihneadb commented on #76
Something like this - https://en.wikipedia.org/wiki/Breadth-first_search
Keep a counter of things you saw and assign ids based on it.

[2020-06-27 18:08] g45t345rt commented on #69
Example of recursive algorithm for removing empty folders
https://gist.github.com/g45t345rt/22a356fdba70a04932db2c37a0f9691a

[2020-10-02 14:51] jenstornell opened #77 "Nested or not?"
I just found this thing.

Does it read all folders and their children or just the folders in the current dir?

Let's say I use this thing to build a browser similar to Windows Explorer, then it would take a long time to get everything in C:/ for example, if it's nested.

[2020-10-04 10:54] mihneadb commented on #77
Hi, indeed, it will provide you with a nested tree. Please see the example in the Readme.

[2020-10-04 10:54] #77 closed

[2020-10-11 17:31] #76 closed

[2021-01-17 17:58] FunctionDJ opened #79 "onEachFile returns the 'path' module instead of the path string (variable name collision)"
[code]

When you run this code, you get this value instead of the path string, which is the path module:
[code]

[2021-01-19 11:33] mihneadb commented on #79
Good find! Seems that somehow callbacks ended up being called with the module ("PATH") instead of the variable ("path"). e.g. https://github.com/mihneadb/node-directory-tree/blob/master/lib/directory-tree.js#L87

Will try to get around fixing, or if you have some time, a PR is welcome! Thanks!

[2021-02-02 09:12] #79 closed

[2021-02-03 03:31] Aparus commented on #74
Hi. It is good to have the option to exclude default attributes! I am looking for it too.

[2021-02-21 21:22] nkemcels opened #82 "This will probably break things."
You might want to check this line. I think you meant `path` instead of `PATH`.
https://github.com/mihneadb/node-directory-tree/blob/f08b2b2460217748bc413a13847ba35daab990d8/lib/directory-tree.js#L87

[2021-02-22 09:52] mihneadb commented on #82
You are so very right. Thanks!

[2021-02-22 09:53] #82 closed

[2021-03-05 07:45] martinhschei opened #83 "Feature request - Free text search"
Thanks for creating this package which works great!

Is a search-function in the pipeline?

Could be something like this:

.search("search_for_this_string", nodeArray[]): nodes[]

[2021-03-05 10:20] mihneadb commented on #83
Hello, not sure this fits in the scope of the project. You should be able to write a function that walks the tree and uses a fuzzy search library to achieve this. What do you think?

[2021-03-05 11:51] martinhschei commented on #83
Sure - i can write it myselft but i just think it would be a nice feature in this library. It's something that i would be a lot of developers using this library would want to have right out of the box.

[2021-03-05 11:58] mihneadb commented on #83
Sounds kind of like a different library. At most perhaps the filtering functionality could be extended to support file name patterns rather than just extensions?

[2021-03-07 07:43] martinhschei commented on #83
Sure! Like i wrote in the title i would go for a "free text search" and it could also be a regex possibility. This would search on all the properties on each node.

[2021-03-07 07:43] martinhschei commented on #83
Is there a filter functionality present today?

[2021-03-08 10:59] mihneadb commented on #83
There is extension filtering as you can see in the readme.

[2021-03-09 07:34] martinhschei commented on #83
Ah - yes - i already use that one and it works great.

[2021-03-25 23:26] sqnfsa opened #84 "Support for tree nodes ending in folders"
Hi, thanks for writing this lib!

Is it possible generate a tree of folders only? e.g. instead of:

[code]

we get this:

[code]

[code]

[2021-03-26 09:16] mihneadb commented on #84
Hi, you can filter the result similar to what was done here - https://github.com/mihneadb/node-directory-tree/issues/69.

[2021-03-26 09:16] #84 closed

[2021-04-19 22:03] rrthomas opened #85 "Typo in `README.md`"
"exlusion" → "exclusion".

Thanks for directory-tree!

[2021-04-24 20:20] #85 closed

[2021-04-26 08:36] DrunkenMastah opened #86 "Sort"
I am thinking about making a pr for adding some sort options ,e.g. sort by date  or maybe sort by name(which most of the times happens but due to this [issue](https://github.com/nodejs/node/issues/3232) it is not guaranteed to happen).After all the change will not be more than ten lines and a bit of documentation maybe something like :
[code]
goes to :

[code]
Any thoughts?

[2021-05-04 13:30] mihneadb commented on #86
Technically it could be done, of course. Not sure of its value. Do you have a need for this? Is it too much overhead to post-process the results and sort them?

[2021-05-18 10:42] sunjeen opened #88 "filter filename by regex?"
Hi

would this feature supported in future?

for example, filter out all the file not matching the regex

[2021-05-19 19:17] mihneadb commented on #88
Hi! To be fair, this is kind of implemented already, as in the extension filtering is implemented to support regex. So we could pretty much replace "extension" with filename filtering, or something like that. It would be probably closer to being correct, as there could be files with ".some.multi.extension" which might confuse things.

Maybe I'll get to adding this or feel free to submit a PR. 🙏

[2021-07-30 01:53] airarrazaval opened #89 "Circular symlink casues infinite loop"
As the title says, circular symbolic links causes an infinite loop.  To replicate this issue you can do the following:

[code]

Then in your script if you run the following:

[code]

[2021-08-12 16:08] mariaortiz0401 opened #91 "Namespace 'directoryTree' has no exported member 'Stats'."
Hi! We're using directory-tree and we update daily the `node_modules` folder in our projects.
Today, we got this error when running `npm run build`

[code]

We got to solve it returning to the 2.2.9 version.
Our versions are:
[code]

[2021-08-12 17:03] mihneadb commented on #91
@mariaortiz0401 thanks for reporting this! Please try again with 2.3.1, I pushed [I hope] a fix.

[2021-08-12 19:48] mariaortiz0401 commented on #91
It works now. Thank you so much!

[2021-08-13 06:38] #91 closed

[2021-08-13 06:38] mihneadb commented on #89
Fixed in #90. Thanks!

[2021-08-13 06:38] #89 closed

[2021-08-16 00:21] WonderboyPark opened #92 "How do I run this?(Node/NPM beginner)"
Please forgive me for this question, but I literally just started looking into node.js and NPM the directory tree > JSON is exactly what i need for a project at work. But how do I run this?

I installed Node.js and installed directory-tree, have a app.js and can see stuff in the terminal(console.log("Hello")).

Do i just copy the following into app.js and run it after i change the dirTree path?

c

[2021-08-16 07:39] mihneadb commented on #92
Hi! Did you try logging tree?
console.log(JSON.stringify(tree));

[2021-08-17 00:19] WonderboyPark commented on #92
i get a null response when i try
`console.log(JSON.stringify(tree));`

right now this is what i have in the app.js file
`const dirTree = require("directory-tree");
const tree = dirTree("C:\Users\steve\Desktop");
console.log(JSON.stringify(tree));`

[2021-08-17 00:20] WonderboyPark commented on #92
this is what i am getting
`PS C:\Users\steve\Desktop\json> node -v
v14.17.5
PS C:\Users\steve\Desktop\json> npm -v
7.20.6
PS C:\Users\steve\Desktop\json> node app.js
null`

[2021-08-17 06:14] mihneadb commented on #92
The lib also returns `null` if it does not have permissions to access a path.
Try the following:
* in your current directory (json), make a new folder with a file in it
* run `dirTree(".")`

See if that works.

[2021-08-18 00:28] WonderboyPark commented on #92
ok this worked so that I get JSON in the terminal, but types that are directory are only showing the children as an array... but not actually showing the objects in that array. this is really close to being what i need

`  extension: '.ai',
      type: 'file'
    },
    {
      path: 'Business Card',
      name: 'Business Card',
      children: [Array],
      size: 53635122,
      type: 'directory

[2021-08-18 09:51] mihneadb commented on #92
That's what I meant by running, what you did.
It worked, the reason you see `[Array]` instead of the actual array is just representation. The data is there :). You can check by accessing the tree object. You can also play with it in the terminal:
* run `node`
* run the same commands but in the shell, not in your file
* console.log(tree.... tab tab play with it)

[2021-08-27 05:53] joshmpaka opened #94 "How can i filter files with specific multi extensions"
I am trying to filter files with multiple extensions like filename.info.mp3.
I have tried `extensions: /\.(info|mp3)$/ ` but this just brings all files that have one or both of those extensions but I only want to filter files with both extensions, not just one of the extensions.
I also tried `extensions: /\.info.mp3/` but got an error
Your help would be greatly appreciated

[2021-09-01 17:56] mihneadb commented on #94
This is a tricky one and is _caused_ (if we are to call it that) by [Path.extname](https://nodejs.org/api/path.html#path_path_extname_path). It always returns the extension as starting from the last occurrence of `.`. It kind of makes sense, if you had a file.like.this.info.mp3, which would be the extension?

I guess for our specific need we could change the logic to "filename ends with _ext_" ins

[2021-09-02 09:54] joshmpaka commented on #94
Regex name filtering definitely does seem more viable.

[2021-09-22 14:11] rijkvanzanten opened #96 "[Question] Release strategy"
Hi there!

Based on the version number structure, I wrongly assumed this package was SemVer, but it seems like versions are bumped (both major and minor) without any actual changes made (for example, see [the difference between 2.4.0 and 3.0.0](https://github.com/mihneadb/node-directory-tree/compare/2.4.0...3.0.0)).

Is this package's version number tied to something I'm missing?

Thanks!

[2021-09-22 16:13] mihneadb commented on #96
Hi! Your assumption is correct. I made a mistake bumping the version after the default attributes change so I had to fix it.
https://github.com/mihneadb/node-directory-tree/pull/93#issuecomment-924828277

[2021-09-22 16:16] rijkvanzanten commented on #96
Ahh gotcha! Missed your previous explanation 🙂

Thanks for the explanation and keep up the great work! ❤️

[2021-09-22 16:16] #96 closed

[2021-09-28 23:37] pklaschka opened #97 "Missing properties `type` and `extension` in v3.0.0"
First of all: Thank you for this tremendously helpful package.

In one of the previous releases (2.3.2 or 3.0.0, it wasn't present in v2.3.1), it seems that the `extension` and `type` properties of tree nodes aren't present in the results any longer (see screenshot above).

Since the `README.md` doesn't reflect this, I'm not sure if it's a bug or not... But if you intended to change it this way, i

[2021-09-29 13:42] mihneadb commented on #97
Hey! I know we did update the readme after that change. Here's a screenshot:
<img width="1134" alt="Screenshot 2021-09-29 at 16 41 12" src="https://user-images.githubusercontent.com/643127/135280302-314c43b1-3451-41c3-a34c-0f7f451cb191.png">

Basically the default attributes changed and now you need to explicitly ask for type and/or extension.

[2021-09-29 14:19] pklaschka commented on #97
Ah, ok, thanks for your response.

I will be honest: I completely missed this. It might make sense to add a bold "from version 3.0 forward, you'll have to specify additional attributes using ..." or something like this, there (since it's different from the previous version and scanning over the README, as it is, didn't get this info to me, unfortunately)...

Don't get me wrong: It's not a huge dea

[2021-09-29 14:19] #97 closed

[2021-09-30 17:01] MichalLytek commented on #97
@mihneadb The typings says:
[code]
So TS yells when I try to provide `["size", "type", "extension"]` 🤔

[2021-10-16 21:51] aolsx commented on #86
+1

Electron APP
Sort  directory > [name ] >  file > [name]

Need this feature！

[2021-11-04 14:28] cdupetit opened #98 "dirTree attributes and Typescript"
Hello @mihneadb,

The typings says:
[code]

So when you provide ["size", "type", "extension"], TS yells because he doesn't know about "type" and "extension" because they are not part of Stats declaration.
Please fix.
Thanks in advance.
Cyril

_Originally posted by @MichalLytek in https://github.com/mihneadb/node-directory-tree/issues/97#issuecomment-931501632_

[2021-11-17 08:44] mihneadb commented on #98
Hi, thanks for reporting. Fixed in https://github.com/mihneadb/node-directory-tree/commit/639b2c8d3b185936828b0b82e51feb433e24ceaa, published 3.0.1.

[2021-11-17 08:44] #98 closed

[2021-11-17 08:44] mihneadb commented on #97
Hi, thanks for reporting. Fixed in https://github.com/mihneadb/node-directory-tree/commit/639b2c8d3b185936828b0b82e51feb433e24ceaa, published 3.0.1.

[2021-12-13 14:29] Dako390 opened #99 "Sorting directories first"
Is there an easy way to use `directoryTree()` resulting in a structured tree with directories first and then files?

### Current result
Currently it returns the tree sorted alphabetically and it does not prioritizes wether it is a directory or file.

### Desired result
First give me all directories sorted alphabetically, then all files sorted alphabetically.
For reference see the Windows explorer

[2021-12-18 19:59] mihneadb commented on #99
Hi, I think you can rather easily obtain this by walking the resulting tree and sorting the children arrays in place.

[2022-01-07 22:01] euberdeveloper opened #101 "Add parsing such as dree"
Hi,

first of all I want to thank you, because for parts of a similar library I have done I took inspiration by your json result

In my implementation, [dree](https://www.npmjs.com/package/dree) I have also added a `parse` function (in addition to other functionalities`, which prints the directory tree as a human-readable tree

Do you think you could implement it also in this library? I think it w

[2022-01-07 22:03] euberdeveloper opened #102 "Async support"
I have opened a similar issue of a feature request (issue #101), related to other functionalities that could be taken by [dree](https://www.npmjs.com/package/dree)

In this case, I would point out that supporting promises could add many benefits if the library is used by APIs that scan a file system, because they would be non-blocking

[2022-01-13 21:58] mihneadb commented on #101
Hi, I'm not sure what you mean with `parse`. What would it do?

[2022-01-13 22:05] euberdeveloper commented on #101
It creates a string like this:

![image](https://user-images.githubusercontent.com/33126163/149416191-8af86dc7-83cd-467f-88c6-ffc027adda78.png)

Of course just by the name was it difficult to guess, it is described in the [documentation](https://dree-euberdeveloper.vercel.app/#result)

[2022-01-13 22:11] mihneadb commented on #101
Oh, so you mean serialize a directory as a string.

[2022-01-16 17:01] lukasrandom opened #103 "DirectoryTree - Missing custom field support in typescript interface"
Hey,
just tried to add custom field to DirectoryTree object in typescript inside a `DirectoryTreeCallback`. The following error occured:

### Error:
[code]

### Example adding custom `id` field:
[code]

### Fix:
Added `[key: string]: any` in to the `DirectoryTree` interface at `node_modules\directory-tree\index.d.ts`.
I will send you a PR so you can decide if this is a reasonable fix for it.

Best

[2022-02-08 11:42] LifeIsStrange opened #105 "Project is unusable in 3.1.0"
[code]

[code]

using node v15.5.1

note that const tree = dirTree("/"); or "/src" or "../src" (the latter being the most logical since the file is nested in a folder) all of those path result in the same depth error..

@mihneadb this project seems very useful, I would like to make it work plz

[2022-02-08 11:44] LifeIsStrange commented on #105
using directory-tree@3.1.0

[2022-02-08 11:49] LifeIsStrange commented on #105
I confirm that the project is working well with the @3.0.1 !

[2022-02-08 12:20] LifeIsStrange opened #106 "Would be nice to have an option for excluding folders"
I guess one can do a custom filter function to exclude path and name for folders but still would be easier to provide an option out of the box :)

[2022-02-08 14:47] LifeIsStrange commented on #106
since
const tree = dirTree("../src/test", { extensions: /\.txt/ }, (item: any, PATH: string, stats: any) => {
    console.log(item);
});
can achieve the same thing, I'm going to close that issue.

[2022-02-08 14:55] LifeIsStrange commented on #106
well no in fact it would be useful since this callback has limited use (does not traverse the tree in BFS/DFS order)

[2022-02-08 16:59] mihneadb commented on #105
@LifeIsStrange hey, can you please provide a more specific example - what tree structure are you working iwth and what is happening? I'm confused between the "/" and "../src" call. Thanks

[2022-02-08 18:01] LifeIsStrange commented on #105
I simply have a root project that contains a package.json, an src folder and an HTMLParser folder.

I execute node parser.js inside the HTMLParser folder.
This script contains the basic code shown above that it throw the error shown above for any path I tried.
In the older version, ("../src") show the correct tree instead of throwing an error.

[2022-02-11 14:41] LetsMelon commented on #105
I had the same error `if (options.depth !== undefined && options.attributes.indexOf('size') !== -1) {` and I think it's because the check if `options` is `undefined` is after the check if `options.depth` isn't undefined.

https://github.com/mihneadb/node-directory-tree/blob/305dcd368b94e904dd28f9f06413b3b74e21dadf/lib/directory-tree.js#L52

and

https://github.com/mihneadb/node-directory-tree/blob

[2022-02-11 17:59] #105 closed

[2022-02-11 17:59] mihneadb commented on #105
@LetsMelon indeed, you are right. Added a fix + a test. Thanks!
@LifeIsStrange thanks for reporting, pls try with 3.1.1.

[2022-02-11 18:51] LifeIsStrange commented on #105
I'll try again next week 👍 Thanks for making this library :)

[2022-02-11 18:54] LetsMelon commented on #105
Glad, that i could help

[2022-02-12 06:16] born2net opened #107 "Windows 11, latest, gettting children [Array]"
running windows 11
node v14.17.5
script:
[code]

and children are coming as [Array]

[code]

Is this a new issue related to Windows 11?

regards

S.

[2022-02-12 07:36] mihneadb commented on #107
Try JSON.stringify

On Sat, 12 Feb 2022 at 08:16, AngularNinja.com ***@***.***>
wrote:

--
-- Mihnea Dobrescu-Balaur Sent from a mobile device.

[2022-02-12 09:35] born2net commented on #107
thank you... did the trick. I guess that's what happens when you work without a debugger. ;)
tx again.

[2022-02-18 15:34] winklerrr opened #108 "Symlink option not properly configured"
The `followSymlinks` options is not properly set (there is no default value).
Further, there is a typo in `index.d.ts`, the option is missing an `s` at the end.

[2022-02-18 19:26] winklerrr commented on #108
No, sorry

[2022-02-18 19:26] #108 closed

[2022-02-21 05:42] mihneadb commented on #108
* The default value logic does work as it's checking for an explicit `false` setting. Will follow by default.
* Fixed the typo in `index.d.ts` via 5f7536c138b (3.2.2)

[2022-03-09 04:20] lbragile commented on #103
@lukasrandom Seems like this was merged with the fix you indicated, but even though it solves the issue you faced, I feel like that doesn't really provide meaningful typing to the custom object.

That is, when I add properties to the `custom` object, they now all have type `any`, which doesn't help with intellisense.

Would it not be better - developer experience wise - to make the `DirectoryTree`

[2022-03-14 02:51] WHK102 opened #109 "Feature request - Add glob option as url"
By example: `const tree = dirTree("/home/*/");`

[2022-05-09 15:16] ameya730 opened #110 "Issue with setting custom field"
Hi

I tried to replicate your example of adding a custom field to my directory and I got the below error

TypeError: Cannot set properties of undefined (setting 'id')

Code used
[code]

Can you please advice ? I am using Typescript.

Regards,
Ameya

[2022-05-10 06:34] mihneadb commented on #103
@lbragile sorry about the terribly late reply - I think this would complicate use more for the "average user". Thoughts of other options perhaps?

[2022-05-10 06:38] #110 closed

[2022-05-10 06:38] mihneadb commented on #110
Hi, you are right, there was an issue with the readme. I pushed an update to it, you should actually define the `custom` obj yourself.

[2022-05-14 23:51] lbragile commented on #103
@mihneadb No worries. I will have to disagree with you on:

as my proposed typing should not cause anyone to update anything due to the same default types. That is, what I suggested only provides users the ability to "opt into" custom typing if they choose to - hence the generic interfaces.

On that note, I decided to drop this package in favor of a custom solution for my needs, so feel free to us

[2022-05-16 14:28] mihneadb commented on #103
@lbragile my bad, I misread your proposal as something that would implicitly require folks to provide explicit typing _always_. Thanks for having the patience to reply to that. :) A PR sounds great!

[2022-05-17 02:14] lbragile commented on #103
@mihneadb Sounds good, created a [PR](https://github.com/mihneadb/node-directory-tree/pull/111). Please have a look and let me know if there is anything that you would like to adjust

[2022-05-21 07:35] #103 closed

[2022-06-28 17:33] khaki32 opened #113 ""TypeError: PATH.basename is not a function""
I'm using this library with Sveltekit. Everything worked great when writing a utility function using it, but actually using the function in a Svelte component completely breaks my site.

This is my function:

[code]

I've searched a little bit, and found that [Cypress had a similiar issue](https://github.com/abramenal/cypress-file-upload/issues/301). The problem in that particular issue seems to b

[2022-07-04 15:53] mihneadb commented on #113
Hi, not sure how to help here. Perhaps it's worth checking with the Svelte community.

[2022-07-05 20:54] khaki32 commented on #113
Ok, I'll close.

[2022-07-16 08:07] arunkumar413 opened #114 "unable to exclude a directory"
`  const tree = dirTree("./", { exclude: "/node_modules" });`

This throws an error

[code]

[2022-07-20 12:59] mihneadb commented on #114
The exclude param is supposed to be a regex.

[code]

So try doing:

[code]

[2022-07-20 12:59] #114 closed

[2022-07-26 08:01] arunkumar413 commented on #99
@mihneadb Can you share an example. I'm also working on a tree view but the the directories and files aren't sorted.

![unsorted](https://user-images.githubusercontent.com/7776779/180955073-49b77d18-9ba3-44ba-bda7-47f6393c837b.png)

[2022-07-26 14:32] Dako390 commented on #99
@arunkumar413 I have a solution for you (although your structure seems sorted?).

After receiving the data I just used the following method:

`/**
   * Method to sort the tree: directories first, then files alphabetically
   *
   * @param {IProjectNode} node root to begin sorting with
   */
  private sortTree(node: IProjectNode) {
    if (node.children) {
      node.children.forEach(child => {

[2022-07-26 14:32] #99 closed

[2022-10-27 13:11] ssibrahimpur opened #117 "node-directory-tree License Agreement"
Can you add the license agreement to the repo?

- [MIT License]( https://en.wikipedia.org/wiki/MIT_License)
- [MIT License Format by opensource](https://opensource.org/licenses/MIT)
- [MIT License Format by choosealicense](https://choosealicense.com/licenses/mit/)

[code]

[2022-11-02 17:06] mihneadb commented on #117
Hi, good call! Added the file, but I won’t be able to publish an NPM release until Monday.

[2022-11-02 17:06] mihneadb commented on #117
Added the file on the master branch, that is.

[2022-11-02 17:11] ssibrahimpur commented on #117
Thank you @mihneadb, That's a great help!
Please feel free to close the ticket once published to NPM.

[2022-11-07 07:57] mihneadb commented on #117
Hey, it's published, as promised. 3.3.2 :) Thanks!

[2022-11-07 07:57] #117 closed